<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="helloId" class="com.datageeks.beans.Employee" >
        <constructor-arg value="1242" index="0" type="java.lang.Integer"></constructor-arg>
        <constructor-arg value="5000f" index="1" type="java.lang.Float"></constructor-arg>
        </bean>
        
        </beans>