<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sid" class="com.datageeks.beans.SampleBean"
		init-method="init" destroy-method="destroy">
		<property name="message" value="SpringBean Life Cycle Demo"></property>
		</bean>


	<bean class="com.datageeks.beans.SampleProcessor"></bean>

</beans>

    
